@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 폰트페이스 선언 */
@font-face { font-family:Simply;
             src:url(../font/Simply.eot) format('eot');
             src:url(../font/Simply.woff) format('woff');
             src:url(../font/Simply.woff2) format('woff2');
             src:url(../font/Simply.ttf) format('truetype');}





*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: #333; font-family: 'Noto Sans KR', sans-serif;}
body{font-family: 'Noto Sans KR', sans-serif;}
img{width: 100%;}

.wrap{width: 100%;}

header, section, footer{width: 100%; float: left;}

.box_center{width: 1280px; margin: 0 auto;}



header{height: 166px; }
header .box_center{height: 119px;}
header .h_sns{float: left; margin-top: 40px; }
header .h_sns ul li{float: left; width: 29px; margin:5px;}


/* 로고 */
header .logo{width: 160px; position: absolute; left: 50%; top: 20px; 
          margin-left: -80px;/* (width/2) - 로고 정가운데 정렬 */ }



/* custom */
header .custom{float: right; margin-top: 45px;}
header .custom ul li{float: left; }
header .custom ul li a{font-size: 13px;}

header .custom ul li img{width: 20px; margin-left: 13px; margin-top: -1px;}



/* 메뉴영역 */
header .navi{clear: both; width: 100%; height: 46px; border:1px solid #e1e1e1;}
header .navi .navi_in{width: 1280px; margin: 0 auto;}
header .navi .navi_in .navi_left{float: left;}
header .navi .navi_in .navi_left ul li{float: left; margin: 9px 0; }
header .navi .navi_in .navi_left ul li a{font-size: 14px; padding-top: 6px; 
       font-weight: bold; margin-right: 42px; font-family:Simply }


header .navi .navi_in nav{float:right; z-index: 10; position: relative;}



/* 주메뉴 */
header .navi .navi_in nav>ul>li{float: left;}
header .navi .navi_in nav>ul>li>a{padding: 11px 70px; font-size: 15px; font-weight: bolder; }
header .navi .navi_in nav>ul>li:hover>a{color: #00aef0; }




/* 서브메뉴 */
header .navi .navi_in nav .sub{padding: 27px 0;  display: none;/*잠시 끄기*/ }
header .navi .navi_in nav .sub li a{font-size: 14px; text-align: center; 
        padding: 13px; color: #6b6b6b;}
header .navi .navi_in nav .sub li a:hover{color: #00aef0; }



/* 서브메뉴 배경 */
header .navi .sub_bg{background-color: #fff; width: 100%;  display: none;/* 잠시 끄기*/
      height: 280px; position: absolute; top: 166px; left: 0; z-index: 5; 
      border-top: 1px solid #e1e1e1; }
header .navi .sub_bg img{width: 183px; position: absolute; left: 50%;
     margin-left: -640px; top: 30px;  }



.slide{width: 100%; height: 700px; position: relative;}
.slide ul li{position: absolute;}
.slide > a{position: absolute; width: 70px; opacity: 1; top: 50%;
       margin-top: -35px; /* height-2 */} 
.slide .prev{left: 20px;}
.slide .next{right: 20px;}



/* form */
.form{width: 1280px; height: 157px; background-color: #fff; z-index: 10;      position:absolute; left: 50%; margin-left: -640px; bottom: -70px; 
    box-shadow:0px 9px 10px #e0e0e0; padding-left: 55px; padding-top: 32px;  
    box-sizing: border-box; position: absolute; bottom: 10px;}
.form p span{float: left; font-size: 14px; color: #494949;}
.form p a img{width: 13px; float: left; margin-top: 8px; margin-left: 6px;}
.form .check img{width: 26px; float: left; padding-left: 5px; }


.form .check {float: left; background-color: #f4f4f4; width: 237px; 
         height: 51px; padding-top: 18px; box-sizing: border-box;}
.form .c1{margin-right: 5px;}
.form .c2{margin-right: 5px;}
.form .check a {float: left; margin-top: -7px; margin-left: 5px;}
.form .check input{border: none; float: left; font-size:15px; margin-left: 8px;
background-color:#f4f4f4; width: 150px;}

.form .search{width: 203px; height: 51px; background-color: #00aef0; border: none;}
.form .search a{font-size: 16px; color: #fff; font-family:'Noto Sans KR', sans-serif;}

.form form{ padding-top: 30px; padding-bottom: 45px; }
.form .name input{border: none; width: 423px; height: 51px; font-size: 15px;
      background-color: #f4f4f4; margin-right: 5px; padding: 10px; 
      box-sizing: border-box}
.form .name button{border: none; height: 51px;}

.form form button, .form form input, .form form div{float: left;}





/* event */
.hotels{}
.hotels h1{width: 85px; margin: 0 auto; margin-top: 100px; margin-bottom: 45px;}
.hotels ul li{float: left; width: 302px; margin-right: 23px; }
.hotels ul li .des{margin: 25px 0 45px;}
.hotels ul li .des h3{text-align: center; font-size: 15px; margin-bottom: 2px;}
.hotels ul li .des p{text-align: center; font-size: 13px; padding-top: 2px;}
.hotels ul li:last-child{margin-right: 0;}
.hotels ul li .star{margin: 0 auto; width: 90px; font-size: 13px; color: #00aef0;}
.hotels ul li .star2{margin: 0 auto; width: 105px; font-size: 13px; color: #00aef0;}
.hotels ul li .star img{width: 61px; margin-right: 5px; margin-bottom: -1px;}
.hotels ul li .star2 img{width: 77px; margin-right: 5px; margin-bottom: -1px;}
.hotels .more{width: 63px; margin: 0 auto; margin-bottom: 100px; }




/* menu */
.menu{width: 100%; background-image: url(https://cdn.jsdelivr.net/gh/nami-web/hotelscombined/images/background.png);  background-position: center; background-size: cover; background-repeat: no-repeat;
height: 1050px; margin-bottom: 70px;}
.menu .menu_wrap{width: 920px; margin: 0 auto; position: relative;}
.menu .box_center h1{width: 152px; margin: 0 auto; margin-bottom: 45px; }
.menu .menu_wrap .m1{width: 621px; position: absolute; top: 0px; left: 0;}
.menu .menu_wrap .m2{width: 276px; position: absolute; top: 0px; right: 0;}
.menu .menu_wrap .m3{width: 239px; position: absolute; top: 325px; }
.menu .menu_wrap .m4{width: 359px; position: absolute; top: 325px; left: 262px;}
.menu .menu_wrap .m5{width: 359px; position: absolute; top: 656px; left: 262px;}
.menu .menu_wrap .m6{width: 276px; position: absolute; top: 502px; right: 0;}




/* event */
.event .box_center h1{width: 72px; margin: 0 auto;}
.event .box_center ul li {float: left; width: 634px; height: 260px; 
        margin-top: 60px; margin-bottom: 95px;}
.event .box_center ul li:first-child{margin-right: 12px; }




/* sns */
.sns h1{width: 42px; margin: 0 auto; }
.sns .sns_logo{width: 190px; margin: 0 auto; } 
.sns .sns_logo li{float: left; width: 29px; margin-right: 13px; margin-top: 20px;
   margin-bottom: 25px;}
.sns .sns_logo li:first-child{margin-left: 20px;}


.sns .instagram {}
.sns .instagram h2{width: 133px; float: left; margin-left: 20px;} 
.sns .instagram .b_left{width: 553px; float: left;}
.sns .instagram .b_right{width: 553px; float: right;}


.sns .insta_photo{width: 1270px; height: 509px; margin: 0 auto; clear: both;
padding-top: 50px; }
.sns .insta_photo li{float: left; width: 250px; margin-right: 5px;}
.sns .insta_photo li:nth-child(5n){margin-right: 0;}




footer{background-color: #1d2e47; margin-top: 90px; height: 410px;}
footer .f_wrap{width: 100%; height: 75px; border-bottom: 1px solid #2a4263;}
footer .f_wrap .f_nav{width: 990px; margin: 0 auto;}
footer .f_wrap .f_nav li{float: left; margin-right: 93px;}
footer .f_wrap .f_nav li:last-child{margin-right: 0;}
footer .f_wrap .f_nav li a{color: #fefefe; line-height: 75px; 
    font-size: 14px; font-family: 'Noto Sans KR', sans-serif;}


footer .company{width: 790px; margin: 0 auto; margin-top: 28px;}
footer .company .com1{width: 97px; float: left; margin-right: 42px;}
footer .company .com2{width: 87px; float: left; margin-right: 42px;}
footer .company .com3{width: 117px; float: left; margin-right: 42px;}
footer .company .com4{width: 99px; float: left; margin-right: 42px;}
footer .company .com5{width: 59px; float: left; margin-right: 42px;}
footer .company .com6{width: 112px; float: left;}
 

footer .txt{width: 1000px; margin: 0 auto;}
footer .txt p{clear: both; text-align: center; color: #8696ae; font-size: 12px;}
footer .txt p:first-child{padding-top: 30px; margin-bottom: 18px;}
footer .txt .f_sns{width: 140px; margin: 0 auto;}
footer .txt .f_sns li{width: 18px; float: left; margin-right:10px; 
    margin-top: 15px;}
footer .txt .f_sns li:first-child{margin-left: 17px;}
footer .txt .f_sns li:last-child{margin-right: 0;}


footer .txt2{clear: both;}
footer .txt2 p{text-align: center; color: #fefefe; font-size: 13px;
    margin-top: 70px;}















